{% extends 'dummy.html' %}

{% block title %}
    <title>change password Page</title>
{% endblock %}

{% block body_block %}

<center>
    <h1>reset password</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

    
             <br><br>

             <label for="username">username</label>
             <input type="text" name="username" id="username">
             <br><br>

            <label for="pw">new password</label>
            <input type="text" name="pw" id="pw">
            <br><br>
               
            <input type="submit" value="change your password">
        </form>
</center>

{% endblock %}